---
const partnerLogosDir = "./src/components/PartnerLogos/img"
const spaceXAlt = "SpaceX Logo"
const nasaAlt = "Nasa Logo"
const astroscaleAlt = "AstroScale Logo"
const boeingAlt = "Boeing Logo"
---

<section class="partner-logos">
    <div>
        <img src=`${partnerLogosDir}/spacex-logo-mobile.svg` alt=`${spaceXAlt}`>
        <img src=`${partnerLogosDir}/spacex-logo-tablet.svg` alt=`${spaceXAlt}`>
        <img src=`${partnerLogosDir}/spacex-logo-desk.svg` alt=`${spaceXAlt}`>
    </div>
    <div>
        <img src=`${partnerLogosDir}/boeing-logo-mobible.svg` alt=`${boeingAlt}`>
        <img src=`${partnerLogosDir}/boeing-logo-tablet.svg` alt=`${boeingAlt}`>
        <img src=`${partnerLogosDir}/boeing-logo-desk.svg` alt=`${boeingAlt}`>
    </div>
    <div>
        <img src=`${partnerLogosDir}/nasa-logo-mobile.svg` alt=`${nasaAlt}`>
        <img src=`${partnerLogosDir}/nasa-logo-tablet.svg` alt=`${nasaAlt}`>
        <img src=`${partnerLogosDir}/nasa-logo-desk.svg` alt=`${nasaAlt}`>
    </div>
    <div>
        <img src=`${partnerLogosDir}/astroscale-logo-mobile.svg` alt=`${astroscaleAlt}`>
        <img src=`${partnerLogosDir}/astroscale-logo-tablet.svg` alt=`${astroscaleAlt}`>
        <img src=`${partnerLogosDir}/astroscale-logo-desk.svg` alt=`${astroscaleAlt}`>
    </div>
</section>