---
interface Props {
	mobileImgSrc: string;
	tabletImgSrc: string;
	imageWrapHeight: string;
	deskImgSrc: string;
    className?: string;
}
const { mobileImgSrc, tabletImgSrc, deskImgSrc, imageWrapHeight, className } = Astro.props;
---
<section class=`planet-overview-section`>
    <div class=`img-wrap ${className}` style=`background-image: url(${mobileImgSrc}), url(${tabletImgSrc}), url(${deskImgSrc});`>
        <slot></slot>
    </div>
</section>

<style define:vars={{imageWrapHeight}}>
    .planet-overview-section {
    }
    
    @media (max-width: 1059px) {
        .planet-overview-section {
            margin: 25px 0px;
            height: calc(var(--imageWrapHeight) + 48px);
            width: calc(100% + 48px);
            position: relative;
            right: 25px;
        }
        .img-wrap {
            padding: 24px; 
            height: var(--imageWrapHeight);
            background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
            background-size: cover;
            background-position: 10%;
            display: flex;
            flex-direction: column;
        }
    }
    
	@media (min-width: 1060px) and (max-width: 1919px) {
        /* .img-wrap {
            opacity: 1;
            max-width: 947px;
            height: 381px;
            width: 100dvw;
            border-radius: 40px;
            background-image: url(var(--tabletImgSrc));
            background-size: cover;
        } */
    }
    
	@media (min-width: 1920px) { 
        
    }
</style>